/* DELETE THESE
div {
  border: 3px solid red;
}

nav {
  border: 3px solid blue;
}

/*  HTML  */
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454145;
  margin: 0;
}

body {
  width: 960px;
  margin: 0 auto;
  border: 10px solid green;
}


/*  HEADER INFORMATION  */
header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 0.035rem;
}

.logo a img {
  height: 3rem;
}

.color1 {
  color: #454145;
}
.color2 {
  color: #f905ed;
}

.mobile {
  display: none;
}

.menu {
  display: flex;
}

.menu li a {
  margin-right: 1rem;
  font-size: 1.25rem;
}

a,
.logo img,
.read-more {
  transition: all 0.25s ease-in-out 0.1s;
}

.button-transition:hover {
  font-weight: bold;
  color: white;
  background-color: #F905ED;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
}

.read-more:hover {
  font-weight: 300;
  color: white;
  background-color: #20BADC;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
}

#last-menu-item {
  margin-right: 0;
}

/*  HEADER MEDIA QUERIES  */
@media only screen and (max-width: 640px) {

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 460px) {
  .logo a img {
    height: 4rem;
  }
}

/*  BANNER INFORMATION  */
.banner-background {
  background-color: #ffedfe;
}

.banner {
  display: flex;
}

.banner-image {
  max-width: 60%;
  min-width: 60%;
  flex: 1;
}

.banner-image-container {
  padding: 2rem 1.25rem 2rem 1.5rem;
}

.banner-text {
  display: flex;
  align-items: center;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 2rem 1.25rem;
  justify-content: center;
}

.banner-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

.banner-text h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.banner-text-spacing {
  padding: 0.75rem 0;
}

.banner-button {
  font-family: 'Open Sans', sans-serif;
  align-self: center;
  width: 50%;
  text-align: center;
  background-color: #fdabf9;
  margin-top: 0.75rem;
  color: #454145;
  font-size: 1.25rem;
  font-weight: 900;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #454145;
  padding: 0.5rem 0;
}

/*  BANNER MEDIA QUERIES  */
@media only screen and (max-width: 460px) {
  .banner-background {
    background-color: #f905ed;
  }
  .banner {
    flex-direction: column;
  }
  .banner-image {
    max-width: 100%;
    min-width: 100%;
    height: 11.25rem;
  }
  .banner-image img {
    display: none;
  }
  .banner-text {
    background-color: #ffedfe;
    justify-content: flex-start;
  }
  .banner-text-container {
    width: 100%;
    align-items: center;
  }
  .banner-button {
    font-size: 1.5rem;
  }
}


/*MAIN INFORMATION*/
.main-background {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

.main-image {
  max-width: 60%;
  min-width: 60%;
  flex: 1;
}

.main-image-container {
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.main-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.main-text {
  max-width: 60%;
  min-width: 60%;
  flex: 1;
}

.main-text-container {
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.main h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.main .quote {
  font-family: 'Cedarville Cursive', cursive;
  line-height: 1.2;
  padding: 1.5rem 0;
}

.main h5 {
  font-size: .75rem;
  font-weight: 600;
  text-align: right;
}

/*  MAIN MEDIA QUERIES  */
@media only screen and (max-width: 460px) {

}


/* ------------------------------------------------------------------ */
